*{
    margin: 0px;
    padding: 0px;
}

:root{
    --colorborde: #78A6C8;
    --fuenteletras: sans-serif;
    --colorRellenotitulos: #326789;
    --colordeletrastitulos: #E9EEF2;
    --colorbordeInput:#78A6C8;
} 

html{
    scroll-behavior: smooth;
}
    
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        height: 6rem;
        background-color: #ffff;
        font-family:sans-serif;
        }
      
     /* esto significa que a las "a" que son sus hijos le de es margen */   
    nav > a {
        text-decoration: none;
        color: black;
        font-family:sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 1rem;
    }
       
    .logo{
        width: 250px;
    }

    .Btndianoche {
        padding: 10px;
        position: relative;
        border-radius: 100px;
        border-color: var(--colorborde);
        width: 80px;
        display: flex;
        justify-content: space-between;        
    }

    .Btndianoche > i{
        font-size: 20px;
        
    }


  /* .btnNav:hover{
        background: black;
        color: white;
        border-color: transparent;
    } */

/* .hamburguesa{
    color: black;
    display:none;
    cursor: pointer;
    font-size: 32px;
}  */

 /* Responsive del Header  */

 @media (max-width:900px) {
    nav {
        display: none; 
    }
    header{
        justify-content: space-between;
    }
}

@media(max-width:500px){
   .logo{
       display: none;
    }
    header{
        justify-content: space-between;
        margin-left: 10%;
    }
}

/*CSS de HERO*/
.contenedorHero{
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: var(--fuenteletras);
    font-size: 4rem;
    color: #326789;
    background-color:#ffff;
    justify-content: center;
}

p{
    font-size: 2rem;
    color: #326789;
}

ol{
  font-size: 4rem;
   color: #326789;   
}
.centrado{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    } 

.BtnDisponible{
    flex-direction: column;
    display: flex;
    height: 700px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color:#78A6C8;
    border-radius: 30px;
    background-color: #E9EEF2; /**/
    /*background-color: #94989B;*/
   /* margin: 1rem 2rem 3rem 5rem;*/
    /*top rigth buttom left*/
   }



.contenedorGTIT{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnGT{
    flex-direction: column;
    display: flex;
    height: 320px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color:#78A6C8 ;
    border-radius: 30px;
    background-color: #E9EEF2;
    margin-bottom: 60px;
      
}
.BtnIT{
    flex-direction: column;
    display: flex;
    height: 320px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color:#78A6C8 ;
    border-radius: 30px;
    background-color: #E9EEF2;
    
}

/* Responsive HERO */
@media (max-width:900px) {
    .contenedorHero{
        flex-direction: column;
        font-size: 2.2rem;
    }
    p{
        font-size: 1rem;
        color: #326789;
    }

    ol{
        font-size: 3rem;
    }
    .centrado{
        height: 50vh;
        width: 100%;
        }

    .BtnDisponible{
       height: 200px;
       width: 400px;
           
    }

    .contenedorGTIT{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        height: 50vh;
        width: 100%;
        
    }
    .BtnGT{
        display: flex;
        height: 200px;
        width: 195px;
        margin-right: 1rem;
        
       
    }
    .BtnIT{
        display: flex;
        height: 200px;
        width:  195px;
        margin-left: 10px;
        

    }
    
}
@media (max-width:500px) {
    .contenedorHero{
        flex-direction: column;
        height: 50vh;
        font-size: 2.2rem;
    }

    p{
        font-size: 0.8rem;
        color: #326789;
    }

    ol{
        font-size: 1.5rem;
    }
    .centrado{
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        }

    .BtnDisponible{
       height: 80px;
       width: 250px;
       margin: 2rem;
       border-radius: 20px;
       margin-bottom: 70px;
    }

    .contenedorGTIT{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        height: 20vh;
        width: 100%;
                
    }
    .BtnGT{
        display: flex;
        height: 80px;
        width: 120px;
        margin-right: 1rem; 
        border-radius: 20px;
             
    }


    .BtnIT{
        display: flex;
        height: 80px;
        width: 120px;
        margin-left: 1rem;
        border-radius: 20px;
         
         
    }
    
   
}

/* CSS del ingresar saldo*/

.contenedorIS{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    margin-top: 2rem;
}
.Btntitulosection {
    padding: 20px;
    border: none;
    background-color: var(--colorRellenotitulos);
    border-radius: 20px;
    margin: 20px;
    width: 500px;
}

h2{
    color: var(--colordeletrastitulos);
    font-size: 2rem;
    font-weight: medium;
}

.peso{
    font-size: 2rem;
    margin-bottom: 0;
}

.contenedordeIngresarSaldo{
    display: flex;
    align-items: center;
    align-content: center;
    
}
.input{
   border-color: var(--colorbordeInput); 
   height: 50px;
   margin: 0 50px 0 5px;
   border-radius: 10px;
   text-indent: 4px;
   font-size: 1.5rem;
   width: 250px;
   }



/*CSS de ingesar Gastos*/
.contenedorIngreseG{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
}

.contenedorIngresarGastos{
    display: flex;
    align-items: center;
    justify-content: baseline;
}


/* CSS Detaalles de gastos */
.contenedordetalleG{
    flex-direction: column;
    text-align: center;
}

 .contenedorGastosvarios{
    /*display: none;*/
     display: flex;  /*IMPORTANTE dar DE BAJA*/
    align-items: center;
    justify-content: center;
}

.concepto{
    display: flex;
    align-items: center;
    justify-content: baseline;
}


.Btnplus{
    border: none;
    background-color: var(--colorRellenotitulos);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    
}

.Btnplus > i{
    color: var(--colordeletrastitulos);
    font-size: 1.5rem;
    font-weight: bold;

}

.concepto{
    border: none;
    border-bottom: 2px solid var(--colorborde);
    background-color: transparent;
    /* border-bottom-color: ; */
}

.concepto >.input{
    border: none;
    height: 30px;
    margin: 0 50px 0 5px;
    border-radius: 2px;
    text-indent: 4px;background-color: transparent;
}


/* ----------------------------------------------- */
@media (max-width:900px) {
    /* responsive del CSS del ingresar saldo*/


.Btntitulosection {
    padding: 12px;
    border: none;
    background-color: var(--colorRellenotitulos);
    border-radius: 20px;
    margin: 20px;
    width: 400px;
}

h2{
    color: var(--colordeletrastitulos);
    font-size: 1.5rem;
    font-weight: medium;
}


.contenedordeIngresarSaldo{
    display: flex;
    align-items: center;
    align-content: center;
    
}
.input{
   border-color: var(--colorbordeInput); 
   height: 40px;
   margin: 0 30px 0 5px;
   border-radius: 10px;
   text-indent: 4px;
   font-size: 1rem;
   width: 150px;
   }

   .peso{
    font-size: 1.2rem;
    }


/* CSS Detalles de gastos */
.contenedordetalleG{
    border-top: solid;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-top-color: var(--colorborde);
    border-top-width: 2px;
      
}

.Btnmov > h2{
    color:black;
    text-align: start;
}

.Btnmov{
    background-color:white;
}


 .contenedorGastosvarios{
    /*display: none;*/
     display: flex;  /*IMPORTANTE dar DE BAJA*/
    align-items: center;
    justify-content: center;
}

.concepto{
    
}


.Btnplus{
    border: none;
    background-color: var(--colorRellenotitulos);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    
}

.Btnplus > i{
    color: var(--colordeletrastitulos);
    font-size: 1.5rem;
    font-weight: bold;

}

.concepto{
    border: none;
    background-color: transparent;
    /* border-bottom-color: ; */
    display: flex;
    align-items: center;
    justify-content: baseline;
    
}

.concepto >.input{
    border: none;
    height: 30px;
    margin: 0 50px 0 5px;
    border-radius: 2px;
    text-indent: 4px;background-color: transparent;
}

}

/* ---------------------CELU-------------------------- */
/* @media (max-width:500px) {
    /* responsive del CSS del ingresar saldo


}    
*/
