*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
    
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 6rem;
        }
      
     /* esto significa que a las "a" que son sus hijos le de es margen */   
    nav > a {
        text-decoration: none;
        color: black;
        font-family:sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        margin-left: 2.25rem;
    }
       
  /* .btnNav:hover{
        background: black;
        color: white;
        border-color: transparent;
    } */

/* .hamburguesa{
    color: black;
    display:none;
    cursor: pointer;
    font-size: 32px;
}  */

 /* Responsive del Header  */

 @media (max-width:900px) {
    nav {
        display: none; 
    }
    header{
        justify-content: space-evenly;
    }
}

@media(max-width:500px){
   .logo{
       display: none;
    }
    header{
        justify-content: flex-start;
        margin-left: 10%;
    }
}

/*CSS de HERO*/
.contenedorHero{
    height: 100vh;
    display: flex;
    
}
.contenedorDisponible{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contenedorGTIT{
    flex-direction: column;
    background-color: green;
    width: 100%;
}

.contenedorGT{
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: brown;
    align-items: center;
    justify-content: center;
}
.contenedorIT{
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: blue;
    align-items: center;
    justify-content: center;
}

/* Responsive HERO */
@media (max-width:900px) {
    .contenedorHero{
        flex-direction: column;
    }

    .contenedorDisponible{
       height: 50vh;
       width: 100%;
    }
    .contenedorGTIT{
        display: flex;
        flex-direction: row;
        height: 50vh;
    }
    .contenedorGT{
        display: flex;
        
        width: 50%;

    }
    .contenedorIT{
        display: flex;
        height: 50vh;
        width: 50%;

    }
    
}

/* CSS del ingresar saldo*/
.contenedorIS{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.contenedorIngreseG{
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.contenedordetalleG{
    background-color:grey;
    flex-direction: column;
    text-align: center;
 }

 .contenedorGastosvarios{
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.concepto{
    height: 100%;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 0.5rem;
}


/*
<div>
                <input type="text" name="" placeholder="Monto de Gasto" class="input"> 
            </div>
            <div>
                <p>Icono + o de cargar gasto</p>
            </div>*/
/*
.contenedorHero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    padding-top: 5%;
    
}

.contenedorTextoHero{
    text-align: center;
    width: 40%;
}

.tituloHero{
    font-size: 2rem ;  /*no usar px para texto, texto siempre rem. para imagens utilizar %*/
    /* text-transform: uppercase;
    color: black;
    padding: 1.5rem 0; 
    text-align: center;
    } */
/* .textoHero{
    font-size: 1rem;
    color: black;
    text-align: center;
    padding-bottom: 2rem; /*se puede usar margin tmb*/
    /* text-transform: uppercase;  
}

.imagenhero{
    width: 45%;
} */
/* .textoDiagonal{
    display: flex;
    background-color: green;
    height: 10%;
    justify-content: center;
    align-items: center;
      
}  */

    
/* h2{
    color:rgb(206, 26, 26);
       
 } */