*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
    
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        height: 6rem;
        background-color: #ffff;
        font-family:sans-serif;
        }
      
     /* esto significa que a las "a" que son sus hijos le de es margen */   
    nav > a {
        text-decoration: none;
        color: black;
        font-family:sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        margin-left: 2.25rem;
    }
       
  /* .btnNav:hover{
        background: black;
        color: white;
        border-color: transparent;
    } */

/* .hamburguesa{
    color: black;
    display:none;
    cursor: pointer;
    font-size: 32px;
}  */

 /* Responsive del Header  */

 @media (max-width:900px) {
    nav {
        display: none; 
    }
    header{
        justify-content: space-evenly;
    }
}

@media(max-width:500px){
   .logo{
       display: none;
    }
    header{
        justify-content: flex-start;
        margin-left: 10%;
    }
}

/*CSS de HERO*/
.contenedorHero{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #326789;
    background-color: #ffff;
    justify-content: center;
}

p{
    font-size: 2rem;
    color: #326789;
}

.centrado{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorDisponible{
    flex-direction: column;
    display: flex;
    height: 29rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color:#78A6C8;
    border-radius: 1.5rem;
    background-color: #E9EEF2;
    /*background-color: #94989B;*/
   /* margin: 1rem 2rem 3rem 5rem;*/
    /*top rigth buttom left*/
   }



.contenedorGTIT{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorGT{
    flex-direction: column;
    display: flex;
    height: 15rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color:#78A6C8 ;
    border-radius: 1.5rem;
    background-color: #E9EEF2;
    margin-bottom: 4rem;
      
}
.contenedorIT{
    flex-direction: column;
    display: flex;
    height: 15rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color:#78A6C8 ;
    border-radius: 1.5rem;
    background-color: #E9EEF2;
    
}

/* Responsive HERO */
@media (max-width:900px) {
    .contenedorHero{
        flex-direction: column;
        font-size: 2.2rem;
    }
    p{
        font-size: 1rem;
        color: #326789;
    }
    .centrado{
        height: 50vh;
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .contenedorDisponible{
       height: 12.5rem;
       width: 20rem;

    }
    .contenedorGTIT{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        height: 50vh;
        width: 100%;
    }
    .contenedorGT{
        display: flex;
        height: 12.5rem;
        width: 13rem;
        margin-right: 1rem;
        
       
    }
    .contenedorIT{
        display: flex;
        height: 12.5rem;
        width: 13rem;
        margin-left: 1rem;
        

    }
    
}
@media (max-width:500px) {
    .contenedorHero{
        flex-direction: column;
        height: 50vh;
        font-size: 2.2rem;
    }

    p{
        font-size: 1rem;
        color: #326789;
    }
    .centrado{
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-bottom: 2rem;
        }
    .contenedorDisponible{
       height: 20vh;
       width: 100%;
       margin: 2rem;
       border-radius: 15px;
    }

    .contenedorGTIT{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        height: 20vh;
        width: 100%;
        margin-bottom: 2rem;
    }
    .contenedorGT{
        display: flex;
        height: 12.5rem;
        width: 8rem;
        margin-right: 1rem; 
        height: 20vh;     
    }
    .contenedorGT > ol {
        font-size: 1rem;
    }
    .contenedorGT > p {
        font-size: 0.8rem;
    }

    .contenedorIT{
        display: flex;
        height: 12.5rem;
        width: 8rem;
        margin-left: 1rem;
        height: 20vh; 
         
    }
    
    .contenedorIT > ol {
        font-size: 1rem;
    }

    .contenedorIT > p {
        font-size: 0.8rem;
    }
}
/* CSS del ingresar saldo*/

.contenedorIS{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    margin-top: 2rem;
}

.contenedordeIngresarSaldo{
    display: flex;
}

.contenedorIngreseG{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
s
.contenedorIngresarGastos{
    display: flex;
}

.contenedordetalleG{
    flex-direction: column;
    text-align: center;
 }

 .contenedorGastosvarios{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.concepto{
    height: 100%;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 0.5rem;
}


/*
<div>
                <input type="text" name="" placeholder="Monto de Gasto" class="input"> 
            </div>
            <div>
                <p>Icono + o de cargar gasto</p>
            </div>*/
/*
.contenedorHero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    padding-top: 5%;
    
}

.contenedorTextoHero{
    text-align: center;
    width: 40%;
}

.tituloHero{
    font-size: 2rem ;  /*no usar px para texto, texto siempre rem. para imagens utilizar %*/
    /* text-transform: uppercase;
    color: black;
    padding: 1.5rem 0; 
    text-align: center;
    } */
/* .textoHero{
    font-size: 1rem;
    color: black;
    text-align: center;
    padding-bottom: 2rem; /*se puede usar margin tmb*/
    /* text-transform: uppercase;  
}

.imagenhero{
    width: 45%;
} */
/* .textoDiagonal{
    display: flex;
    background-color: green;
    height: 10%;
    justify-content: center;
    align-items: center;
      
}  */

    
/* h2{
    color:rgb(206, 26, 26);
       
 } */